body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.header {
    background-color: #ffc2c2;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1rem 0;
    border: 2px solid #000000;
}

.main-container {
    display: flex;
    flex-grow: 1;
    width: 100%;
}

.left-section,
.middle-section,
.right-section {
    flex-grow: 1;
    padding: 1rem;
    border: 2px solid #000000;
}

.left-section {
    flex-basis: 25%;
}

.center-content {
    text-align: center;
}

.middle-section {
    flex-basis: 50%;
}

#chart-container {
    display: flex;
}

.right-section {
    flex-basis: 25%;
}

.slider-value {
    margin-left: 5px;
}

#slider-container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column; 
}

.slider {
    width: 250px;
    background: linear-gradient(to right, blue, red);
}

.slider::-webkit-slider-thumb {
    background: white;
    border: 2px solid blue;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.slider-label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.paragraph{
    display: none;
}

#paragraph2{
    display: block;
}

/* Add animation for the glow effect */
@keyframes glowAnimation {
    0% {
        filter: url(#glow);
        opacity: 0.8;
    }
    50% {
        filter: url(#glow);
        opacity: 1;
    }
    100% {
        filter: url(#glow);
        opacity: 0.8;
    }
}
